%div{id: 'setup', class: 'row'}
  %div{id: 'setup-strain', class: 'col-xs-6 col-md-4 svcenter'}
  %div{id: 'setup-profession', class: 'col-xs-6 col-md-4 svcenter'}
  %div{class: 'col-xs-6 col-md-4 svcenter svhalf'}
    %input{type: 'checkbox', id: 'only-available-checkbox'} Available Only  
    %input{type: 'checkbox', id: 'is-touch-device'} Touch Input

%div{class: 'body-container'}
  %div{id: 'graphical', class: 'graphical-container col-xs-6 col-md-8 col-lg-9' }
    %div{id: 'graphical-list', class: 'list-group'}
  %div{id: 'builder', class: 'builder-container col-xs-6 col-md-4 col-lg-3'}
    %div{class: 'alert alert-success alert-dismissible', id: 'alert-desktop', hidden: true}
      %button{type: 'button', class: 'close'}
        %span &times;
      You can drag skills and drop them to green regions.

    %div{class: 'alert alert-success alert-dismissible', id: 'alert-mobile', hidden: true}
      %button{type: 'button', class: 'close'}
        %span &times;
      You are on mobile device.
      %br
      To move skills between boxes, tap one or more skills then tap green regions to move selected skills.

    %div{class: 'alert alert-warning', id: 'alert-mobile-selected', hidden: true}
      %span{id: 'alert-text'}
      %a{href: '#', class: 'pull-right', id: 'alert-mobile-selection-clear'} Clear

    %div{id: 'error-log', class: 'col-xs-12 svupdown text-danger'}

    %div{class: 'row sstats'}
      %div{class: 'col-xs-4 minipad'} HP
      %div{class: 'col-xs-1 minipad'} 
        %span{id: 'hp-base', class: 'pull-right'} 2 
      %div{class: 'col-xs-7 stats-controller minipad'}
        +
        %button{type: 'button', class: 'btn btn-default btn-xs', id: 'hp-sub', 'data-target' => 'hp-addition', 'data-pair' => 'hp-add', 'data-total' => 'hp-total' } <
        %span{class: 'badge', id: 'hp-addition'} 0 
        %button{type: 'button', class: 'btn btn-default btn-xs', id: 'hp-add', 'data-target' => 'hp-addition', 'data-pair' => 'hp-sub', 'data-total' => 'hp-total' } >
        \=
        %span{id: 'hp-total', 'data-base' => 'hp-base', 'data-addition' => 'hp-addition'} 2
    %div{class: 'row sstats'}
      %div{class: 'col-xs-4 minipad'} MP
      %div{class: 'col-xs-1 minipad'} 
        %span{id: 'mp-base', class: 'pull-right'} 2 
      %div{class: 'col-xs-7 stats-controller minipad'}
        +
        %button{type: 'button', class: 'btn btn-default btn-xs', id: 'mp-sub', 'data-target' => 'mp-addition', 'data-pair' => 'mp-add', 'data-total' => 'mp-total' } <
        %span{class: 'badge', id: 'mp-addition'} 0 
        %button{type: 'button', class: 'btn btn-default btn-xs', id: 'mp-add', 'data-target' => 'mp-addition', 'data-pair' => 'mp-sub', 'data-total' => 'mp-total' } >
        \=
        %span{id: 'mp-total', 'data-base' => 'mp-base', 'data-addition' => 'mp-addition'} 2
    %div{class: 'row sstats'}
      %div{class: 'col-xs-4 minipad'} Infection
      %div{class: 'col-xs-1 minipad'} 
        %span{id: 'infection-base', class: 'pull-right'}
    %div{class: 'row sstats'}
      %div{class: 'col-xs-4 minipad'} Profession Cost
      %div{class: 'col-xs-8 minipad'} 
        %span{class: 'badge', id: 'profession-xp'} 0
    %hr{class: 'tight'}
    %div{class: 'builder-header'}
      Acquired skills
      %span{class: 'badge', id: 'acquired-xp'} 0

    %div{id: 'acquired', class: 'col-xs-12 svupdown skill-droppable'}
      %ul{class: 'list-group', id: 'acquired-list'}
    %br
    %div{class: 'builder-header'}
      Planned skills
      %span{class: 'badge', id: 'planned-xp'} 0
    %div{id: 'planned', class: 'col-xs-12 svupdown skill-droppable'}
      %ul{class: 'list-group', id: 'planned-list'}

    %div{id: 'strain-specs', class: 'col-xs-12 row'}

:javascript
  var is_builder = true;

= javascript_include_tag 'stats'
= javascript_include_tag 'drag_drop_functor'
= javascript_include_tag 'tree_builder'
= javascript_include_tag 'persistence'
= javascript_include_tag 'dynamic_builder'
= javascript_include_tag 'skill_utility'

:css
  body {
    overflow-x: hidden;
    font-size: 12px;
  }

  .alert {
    padding: 8px 24px 8px 8px;
    margin-bottom: 0px;
  }

  .badge-success {
    background-color: #398439;
  }

  .badge-danger {
    background-color: #d43f3a;
  }

  .stats-controller {
    margin-top: -0.2em;
    padding-bottom: 0.25em;
  }

  .skill-disadvantage {
    color: #a94442;
  }

  .minipad {
    padding-right: 0px;
  }

  hr.tight {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  .btn {
    font-size: 12px;
  }

  .popover {
    font-size: 12px;
  }

  .popover-content {
    padding: 4px 8px;
  }

  .list-group-item {
    padding: 4px;
  }

  .form-control {
    font-size: 12px;
  }

  .badge {
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .dropdown-menu {
    font-size: 12px;
  }

  #setup {
    z-index: 1000;
    background-color: white;
    padding-right: 0px;
    margin: 0px;
  }

  #search-input {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
  }

  #acquired, #planned {
    height: 256px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    //z-index: -10;
    position: relative;
  }

  #graphical {
    overflow-y: auto;
    overflow-x: hidden;

    //overflow: visible;
    //padding-left: 16px;
    padding-right: 0px;
    position: relative;
    margin-left: 0px;
    padding-right: 2px;
    padding-left: 2px;
  }

  #builder {
    overflow-y: auto;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
  }

  .ui-draggable-dragging {
  }

  .body-container {
    //z-index: -100;
    background-color: transparent;
    position: relative;
  }

  .multiselect-container li a {
    padding: 0;
  }

  .skill-droppable {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sstats {
    padding-bottom: 0.25em;
  }

  .affix {
    top: 64;
  }

  .builder-header {
    //padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .preq {
    font-style: italic;
    color: #a94442;
  }

  .setup-padding {
    margin-bottom: 2em;
  }

  .svcenter {
    padding: 0.2em;
  }

  .svhalf {
  }

  .svupdown {
    margin-bottom: 1em;
  }

  .graphical-container {
    overflow-y: auto;
  }

  .link-faded {
    color: #aaa;
  }

  .clickable-skill{
    cursor: pointer
  }

  .list-group-item.faded {
    background-color: #eee;
    color: #aaa
  }

  .thin-divider {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .popover {
    cursor: default;
  }

  .skill-not-accessible {
    color: #aaa;
    text-decoration: line-through;
  }

  .skill-cheapest {
    font-weight: 800;
    color: #3c763d;
  }

  .drag-simulable {
    background-color: #fcf3cf;
  }