%div{class: 'modal fade', id: 'profile-confirm-deletion-modal'}
  %div{class: 'modal-dialog'}
    %div{class: 'modal-content'}
      %div{class: 'modal-header'}
        %button{type: 'button', class: 'close', 'data-dismiss' => 'modal'}
          %span &times;
        %h4{class: 'modal-title'} Confirm Deletion
      %div{class: 'modal-body'}
        %div{class: 'form-group'}
          Are you sure you want to delete profile
          %span{id: 'confirm-profile-deletion-text'}
          ?
      %div{class: 'modal-footer'}
        %button{type: 'button', class: 'btn btn-default', 'data-dismiss' => 'modal'} Cancel
        %button{type: 'button', class: 'btn btn-danger', id: 'btn-confirm-profile-deletion'} Delete

%div{class: 'modal fade', id: 'modal-waiting'}
  %div{class: 'modal-dialog modal-sm'}
    %div{class: 'modal-content'}
      %div{class: 'modal-header'}
        %h4 Processing...
      %div{class: 'modal-body'}
        %span{id: 'modal-waiting-content'}

%div{class: 'modal fade', id: 'profile-create-new-modal'}
  %div{class: 'modal-dialog'}
    %div{class: 'modal-content'}
      %div{class: 'modal-header'}
        %button{type: 'button', class: 'close', 'data-dismiss' => 'modal'}
          %span &times;
        %h4{class: 'modal-title'} Save As New Profile
      %div{class: 'modal-body'}
        %div{class: 'form-group'}
          %label{for: 'profile-name'} Profile Name
          %input{type: 'text', class: 'form-control', id: 'profile-name', placeholder: 'super-tank-2'}
        %span{class: 'text-danger', id: 'new-profile-error'}
      %div{class: 'modal-footer'}
        %button{type: 'button', class: 'btn btn-default', 'data-dismiss' => 'modal'} Cancel
        %button{type: 'button', class: 'btn btn-primary', id: 'btn-profile-save'} Create

%div{class: 'modal fade', id: 'advanced-warning'}
  %div{class: 'modal-dialog'}
    %div{class: 'modal-content'}
      %div{class: 'modal-header'}
        %button{type: 'button', class: 'close', 'data-dismiss' => 'modal'}
          %span &times;
        %h4{class: 'modal-title'} Advanced Professions
      %div{class: 'modal-body'}
        %strong{class: 'text-danger'} Excerpt from the Rulebook:
        %br
        Advanced Professions shouldn’t ever be your character’s end goal. In fact, most characters are unlikely to have even heard of most Advanced Professions. And it’s likely that if you’re seeking an Advanced Profession, you’re just as unlikely to get it. Most characters who achieve one of these Professions end up stumbling into it rather than actively seeking it; remember that it’s about the journey rather than the destination.
        %hr
        %strong{class: 'text-danger'} Advanced Profession must be approved by your branch director. There is no guarantee that you'll obtain one.
        %br
        By enabling this feature, you either acknowledge that you have read this warning or you already possess one of the Advanced Professions.
      %div{class: 'modal-footer'}
        %button{type: 'button', class: 'btn btn-default', 'data-dismiss' => 'modal'} OK, nvm 
        %button{type: 'button', class: 'btn btn-danger', id: 'btn-enable-advanced'} Gotcha. Enable it!

%div{class: 'modal fade', id: 'advanced-existance-warning'}
  %div{class: 'modal-dialog'}
    %div{class: 'modal-content'}
      %div{class: 'modal-header'}
        %button{type: 'button', class: 'close', 'data-dismiss' => 'modal'}
          %span &times;
        %h4{class: 'modal-title'} Advanced Professions
      %div{class: 'modal-body'}
        %strong{class: 'text-danger'} You have selected Advanced Profession in your profile
        %hr

        %strong{class: 'text-danger'} Excerpt from the Rulebook:
        %br
        Advanced Professions shouldn’t ever be your character’s end goal. In fact, most characters are unlikely to have even heard of most Advanced Professions. And it’s likely that if you’re seeking an Advanced Profession, you’re just as unlikely to get it. Most characters who achieve one of these Professions end up stumbling into it rather than actively seeking it; remember that it’s about the journey rather than the destination.
        %hr
        %strong{class: 'text-danger'} Advanced Profession must be approved by your branch director. There is no guarantee that you'll obtain one.
        %br
        By enabling this feature, you either acknowledge that you have read this warning or you already possess one of the Advanced Professions.
      %div{class: 'modal-footer'}
        %button{type: 'button', class: 'btn btn-default', 'data-dismiss' => 'modal'} Understood
        %button{type: 'button', class: 'btn btn-danger', id: 'btn-dismiss-advanced-warning'} I know, don't remind me again!

%div{id: 'setup', class: 'row'}
  %div{id: 'setup-strain', class: 'col-xs-6 col-md-3 svcenter'}
  %div{id: 'setup-profession', class: 'col-xs-6 col-md-3 svcenter'}
  %div{id: 'setup-filter', class: 'col-xs-6 col-md-3 svcenter svhalf'}
    %select{id: 'filter-group', multiple: 'multiple'}
      %option{value: 'only-available'} Only Available
      %option{value: 'only-discounted'} Only Discounted
      %option{'data-role' => 'divider'}
      %option{value: 'hide-lore'} Hide Lore
      %option{value: 'hide-psionics'} Hide Psionics
      %option{value: 'hide-advanced', class: 'advanced-recoverable'} Hide Advanced
    // %input{type: 'checkbox', id: 'only-available-checkbox'} Available Only  
    //%input{type: 'checkbox', id: 'is-touch-device'} Touch Input
  %div{class: 'col-xs-6 col-md-3 svcenter'}
  
    %button{type: 'button', class: 'btn btn-default dropdown-toggle btn-block', 'data-toggle' => 'dropdown'}
      %span{id: 'profile-text'} Select Profile
      %span{class: 'caret'}
    %ul{class: 'dropdown-menu', id: 'profile-dropdown'}
      %li{class: 'divider', id: 'created-profile-divider'}
      %li
        %a{href: '#', id: 'profile-create-new'} Save As...
        %a{href: '#', id: 'profile-create-from-scratch'} Create from scratch...
      %li{class: 'divider', id: 'contextual-divider', hidden: true}
      %li{hidden: true}
        %a{href: '#', id: 'profile-delete'} Delete profile

%div{class: 'body-container'}
  %div{id: 'graphical', class: 'graphical-container col-xs-6 col-md-8 col-lg-9' }

    %div{class: 'alert alert-info', id: 'loading'}
      %ul{class: 'list-unstyled'}
        %li{'data-dismissible' => true}
          %strong Initializing data...
        %li{id: 'init-strain', hidden: true, 'data-dismissible' => true} &raquo; Strains loaded
        %li{id: 'init-profession', hidden: true, 'data-dismissible' => true} &raquo; Professions loaded
        %li{id: 'init-skill', hidden: true, 'data-dismissible' => true} &raquo; Skills loaded
        %li{id: 'init-stat', hidden: true, 'data-dismissible' => true} &raquo; Stats loaded
        %li{id: 'init-const', hidden: true, 'data-dismissible' => true} &raquo; Constraints loaded
        %li{id: 'init-postprocess', hidden: true, 'data-dismissible' => true} &raquo; Postprocessing...
        %li{id: 'init-completed', hidden: true}
          %strong All loaded
    %ul{class: 'nav nav-tabs advanced-recoverable', hidden: true}
      %li
        %a{'data-toggle' => 'tab', href: '#advanced-list'} Advanced
      %li{class: 'active'}
        %a{'data-toggle' => 'tab', href: '#graphical-list'} Basic

    %div{class: 'tab-content'}
      %ul{id: 'graphical-list', class: 'list-group tab-pane fade in active'}
      %ul{id: 'advanced-list', class: 'list-group tab-pane fade'}
        %div{class: 'col-xs-12 row top-down-padded'}
          %button{type: 'button', class: 'btn btn-primary btn-xs', id: 'advanced-expand-all'} Expand All
          %button{type: 'button', class: 'btn btn-primary btn-xs', id: 'advanced-expand-accessible'} OK Only
          %button{type: 'button', class: 'btn btn-primary btn-xs', id: 'advanced-collapse-all'} Collapse All
    %div{class: 'alert alert-warning', hidden: true, id: 'filter-no-match'}
      No Skills match filter criteria.
  %div{id: 'builder', class: 'builder-container col-xs-6 col-md-4 col-lg-3'}
    / %input{type: 'checkbox', id: 'is-touch-device'} Enable touch input
    / %div{class: 'alert alert-warning', id: 'debug-log', hidden: true}

    %div{class: 'alert alert-success alert-dismissible', id: 'alert-desktop', hidden: true}
      %button{type: 'button', class: 'close'}
        %span &times;
      You can drag skills and drop them to green regions. Click the skill cost to cycle their costs.

    %div{class: 'alert alert-success alert-dismissible', id: 'alert-mobile', hidden: true}
      %button{type: 'button', class: 'close'}
        %span &times;
      You are on mobile device.
      %br
      To move skills between boxes, tap one or more skills then tap green regions to move selected skills. Tap the skill cost to cycle its cost.

    %div{class: 'alert alert-danger alert-dismissible init-hidden', id: 'alert-deselection', hidden: true}
      %button{type: 'button', class: 'close'}
        %span &times;
      %span{id: 'alert-deselection-text'}

    %div{class: 'alert alert-warning', id: 'alert-mobile-selected', hidden: true}
      %span{id: 'alert-text'}
      %a{href: '#', class: 'pull-right', id: 'alert-mobile-selection-clear'} Clear
      %div{class: 'alert-skill-cost-adjustment'}

    %div{id: 'advanced-xp-drop', class: 'alert alert-danger init-hidden', hidden: true}
      Total XP is dropping below required
      %span{id: 'advanced-xp-drop-name'}
      %span{id: 'advanced-xp-drop-amount'}
      %span{id: 'advanced-xp-drop-additive'}
      %span{id: 'advanced-xp-drop-total'}

    %div{id: 'error-log', class: 'svupdown row'}
      %strong
        %span{id: 'error-placeholder', 'data-placeholder' => 'Constraints not met. Click skills below to add', class: 'text-danger'}
      %ul{class: 'list-group', id: 'error-list'}

    %div{class: 'row sstats'}
      %div{class: 'col-xs-2 minipad'} HP
      %div{class: 'col-xs-1 minipad'} 
        %span{id: 'hp-base', class: 'pull-right'} 2 
      %div{class: 'col-xs-9 stats-controller minipad'}
        +
        %button{type: 'button', class: 'btn btn-default btn-xs', id: 'hp-sub', 'data-target' => 'hp-addition', 'data-pair' => 'hp-add', 'data-total' => 'hp-total' } <
        %span{class: 'badge', id: 'hp-addition'} 0 
        %button{type: 'button', class: 'btn btn-default btn-xs', id: 'hp-add', 'data-target' => 'hp-addition', 'data-pair' => 'hp-sub', 'data-total' => 'hp-total' } >
        \=
        %span{id: 'hp-total', 'data-base' => 'hp-base', 'data-addition' => 'hp-addition'} 2
    %div{class: 'row sstats'}
      %div{class: 'col-xs-2 minipad'} MP
      %div{class: 'col-xs-1 minipad'} 
        %span{id: 'mp-base', class: 'pull-right'} 2 
      %div{class: 'col-xs-9 stats-controller minipad'}
        +
        %button{type: 'button', class: 'btn btn-default btn-xs', id: 'mp-sub', 'data-target' => 'mp-addition', 'data-pair' => 'mp-add', 'data-total' => 'mp-total' } <
        %span{class: 'badge', id: 'mp-addition'} 0 
        %button{type: 'button', class: 'btn btn-default btn-xs', id: 'mp-add', 'data-target' => 'mp-addition', 'data-pair' => 'mp-sub', 'data-total' => 'mp-total' } >
        \=
        %span{id: 'mp-total', 'data-base' => 'mp-base', 'data-addition' => 'mp-addition'} 2
    %div{class: 'row sstats'}
      %div{class: 'col-xs-6 minipad'} Infection
      %div{class: 'col-xs-6 minipad'} 
        %span{id: 'infection-base'}
    %div{class: 'row sstats'}
      %div{class: 'col-xs-8 minipad'} Profession Cost
      %div{class: 'col-xs-4 minipad'} 
        %span{class: 'badge pull-right', id: 'profession-xp'} 0
      %div{class: 'col-xs-8 minipad'} Total XP
      %div{class: 'col-xs-4 minipad'}
        %span{class: 'badge pull-right', id: 'xp-total'} 0
    %hr{class: 'tight'}
    %div{class: 'builder-header'}
      Acquired skills
      %span{class: 'badge', id: 'acquired-xp'} 0

    %div{id: 'acquired', class: 'col-xs-12 svupdown skill-droppable'}
      %ul{class: 'list-group', id: 'acquired-list'}
    %br
    %div{class: 'builder-header'}
      Planned skills
      %span{class: 'badge', id: 'planned-xp'} 0
    %div{id: 'planned', class: 'col-xs-12 svupdown skill-droppable'}
      %ul{class: 'list-group', id: 'planned-list'}


    %div{id: 'strain-specs', class: 'col-xs-12 row'} 
  %div{class: 'col-xs-12 mix-footer footer-separator'}
    %span{class: 'pull-right text-muted slight-footer-pad'} Dystopia Rising Character Builder - drpaedia 0.3.0
  %div{id: 'disqus_thread', class: 'col-xs-12'}
  :javascript
    var disqus_config = function() {
      //this.page.url = 'drpaedia.org';
      //this.page.identifier = 'builder';
    };

    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//drpaedia.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();

:javascript
  var is_builder = true;

= javascript_include_tag 'skills_caching'
= javascript_include_tag 'async_loading'
= javascript_include_tag 'alternator'
= javascript_include_tag 'on_screen_debug'
= javascript_include_tag 'beyond_basic'
= javascript_include_tag 'filter_view'
= javascript_include_tag 'profile'
= javascript_include_tag 'stats'
= javascript_include_tag 'drag_drop_functor'
= javascript_include_tag 'tree_builder'
= javascript_include_tag 'persistence'
= javascript_include_tag 'dynamic_builder'
= javascript_include_tag 'skill_utility'
%link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Exo'}

:css
  body {
    overflow-x: hidden;
    font-size: 12px;
    background: #ffffff;
    font-family: 'Exo',Helvetica,Arial,sans-serif;
  }

  a .text-muted {
    color: #aaa;
  }

  .alert {
    padding: 8px 24px 8px 8px;
    margin-bottom: 0.5em;
  }

  .badge-success {
    background-color: #398439;
  }

  .badge-danger {
    background-color: #d43f3a;
  }
  
  .btn-group-list {
    padding: 0;
  }

  .bg-success-alt {
    background-color: #3c763d;
    color: #fff;
  }

  #error-log {
    //padding-top: 1em;
    margin-right: 0px;
    margin-left: 0px;
  }

  .stats-controller {
    margin-top: -0.2em;
    padding-bottom: 0.25em;
  }

  .skill-disadvantage {
    color: #a94442;
  }

  .mix-footer {
    margin: 0;
    padding: 0;
  }

  .footer-separator {
    margin-top: 2em;
    font-style: italic;
    border-top: 1px solid #aaa;
  }

  .nav li a {
    padding: 8px 12px;
  }

  .nav {
    margin-bottom: 2px;
  }

  .minipad {
    padding-right: 0px;
    padding-bottom: 0.5em;
  }

  hr.tight {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
  .btn {
    font-size: 12px;
  }
  .btn-adjust {
    padding: 0px 6px 0px 6px;
    margin: -2.5px 0px 0px 0px;
  }

  .popover {
    font-size: 12px;
  }

  .top-down-padded {
    padding-bottom: 2px;
  }

  .popover-content {
    padding: 4px 8px;
  }

  .list-group-item {
    padding: 4px;
  }

  .form-control {
    font-size: 12px;
  }

  .badge {
    margin-top: -1px;
    margin-bottom: -1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  }

  .dropdown-menu {
    font-size: 12px;
  }

  #loading {
    margin-top: 2px;
  }

  #setup {
    z-index: 1000;
    background-color: #ffffff;
    padding-right: 0px;
    margin: 0px;
    padding-bottom: 0.2em;
  }

  #search-input {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
  }

  #graphical-list, #advanced-list, #error-list {
    margin-bottom: 4px;
    padding: 0;
  }
  
  #acquired, #planned {
    height: 256px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    //z-index: -10;
    position: relative;
  }

  #graphical {
    overflow-y: auto;
    overflow-x: hidden;

    //overflow: visible;
    //padding-left: 16px;
    padding-right: 0px;
    position: relative;
    margin-left: 0px;
    padding-right: 2px;
    padding-left: 2px;
  }

  #graphical-list, #advanced-list {
    overflow-y: auto;
    position: relative;
  }

  #builder{
    overflow-y: auto;
    position: relative;
    padding-left: 2px;
    padding-right: 2px;
  }

  .ui-draggable-dragging {
  }

  .body-container {
    //z-index: -100;
    background-color: transparent;
    position: relative;
  }

  .multiselect-container li a {
    padding: 0;
  }

  .skill-droppable, .advanced-professions {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sstats {
    padding-bottom: 0.2em;
    margin-right: 0;
    padding-top: 0.2em;
  }

  .slight-footer-pad {
    padding-right: 0.2em;
  }

  .affix {
    top: 64;
  }

  .builder-header {
    //padding-top: 0.2em;
    padding-bottom: 0.2em;
  }

  .preq {
    font-style: italic;
    color: #a94442;
  }

  .setup-padding {
    margin-bottom: 2em;
  }

  .svcenter {
    padding: 0.2em;
    padding-bottom: 0;
  }

  .svhalf {
  }

  .svupdown {
    margin-bottom: 1em;
  }

  .dropdown-no-link {
    padding: 3px 20px 0px 20px;
  }

  .graphical-container {
    overflow-y: auto;
  }

  .link-faded {
    color: #aaa;
  }

  .clickable-skill{
    cursor: pointer
  }

  .clickable-advanced {
    cursor: pointer
  }

  .list-group-item.faded {
    background-color: #eee;
    color: #aaa
  }

  .thin-divider {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .popover {
    cursor: default;
  }

  .skill-not-accessible {
    color: #aaa;
    text-decoration: line-through;
  }

  .skill-cheapest {
    font-weight: 800;
    color: #3c763d;
  }

  .drag-simulable {
    background-color: #fcf3cf;
  }

  .init-hidden {
    display: none;
  }

  #unlock-advanced-professions {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
  }