!!!
%html
  %head
    %title DRpaedia
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %link{rel: 'manifest', href: '/manifest.json'}
    = csrf_meta_tags
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    / %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'}

    / %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity: 'sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin: 'anonymous'}
    / %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity: 'sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin: 'anonymous'}

    / %script{src: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity: 'sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin: 'anonymous'}

    /%link{rel: "stylesheet", href: "http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"}
    /%script{src:"http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"}

    = javascript_include_tag 'js.cookie'
    = javascript_include_tag 'bootstrap-multiselect'
    = javascript_include_tag 'bootstrap.min'
    //= javascript_include_tag 'jquery.ui.touch-punch.min'
    //= javascript_include_tag 'bootstrap-popover-extra-placement'
    / = javascript_include_tag 'jquery-ui.min'
    = stylesheet_link_tag 'bootstrap-multiselect.min'
    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'bootstrap-theme.min'
    //= stylesheet_link_tag 'bootstrap-popover-extra-placement'
    / = stylesheet_link_tag 'jquery-ui.min'
    / = stylesheet_link_tag 'jquery-ui.structure.min'
    / = stylesheet_link_tag 'jquery-ui.theme.min'
  %body
    = yield